<h2 mat-dialog-title>Edit Profile</h2>
<mat-dialog-content>
  <form [formGroup]="profileForm">
    <mat-form-field appearance="outline" class="full-width mt-3">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="first_name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="last_name">
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email" type="email">
    </mat-form-field>

  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button 
    mat-raised-button 
    color="primary" 
    (click)="onSave()"
    [disabled]="!profileForm.valid"
  >
    Save Changes
  </button>
</mat-dialog-actions>